.sidebar {
  position: fixed;
  right: 100%; 
  top: var(--controlBar-height);
  width: 100%;
  height: calc(100% - var(--controlBar-height));
  background-color: var(--menu-background);
  box-shadow: -2px 0 5px rgba(0,0,0,0.2);
  transition: right 0.3s ease;
  z-index: 200;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.sidebar.open {
  right: 0; 
}

.sidebarContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  box-sizing: border-box;
}

.sidebar .chartContainer {
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border: 2px solid black;
  overflow: hidden;
  display: flex; 
  flex-direction: column;
}

#tempChart {
  flex: 2; /* 2/3 height */
}

#RSSI {
  flex: 1; /* 1/3 height */
}

@container sidebarArea (max-width: 600px) {
  .sidebarContent {
    flex-direction: column;
    min-height: 0;
  }
  #tempChart {
    flex: 2;
  }
  #RSSI {
    flex: 1;
  }
}